/*----------------
HOME PAGE CSS 
-----------------*/

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

.homepage-container {
  max-width: 600px;
  margin: 3rem auto;
  text-align: center;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;
  color: --color-bg-dark;
}

.homepage-container h2 {
  color: white;  
  font-style: italic;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.homepage-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem; 
}

.homepage-buttons button {
  background-color: #b4d4dc;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  black; /* #7489b0 maybe? need to check options */
}

.homepage-buttons button:hover {
  background-color: #a1c3ce;
}

.tagline {
  color: whitesmoke;
  margin-top: 3rem; 
  margin-bottom: 2rem;
  font-size: 1rem;
}